 /*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
    АДМИНКА - РЕДАКИРОВАНИЕ БАЗЫ ДАННЫХ
    ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */

.btn_add_rec, .btn_schema {
    cursor: pointer;
}

/* числовые поля */
.digit_only 
{
    width: 45px;
    text-align-last: end;
}

.manual p{
    color: red;
    font-size: 18px;
    font-weight: 700;
}

input:required, select:required { border-color: red; }

.err {
    color: red;
    font-size: 1.2em;
    margin-top: 5px;
}


.hr_db {
    border: 0;
    height: 2px;
    background: green;
}

button.load_rec {
    margin-top: 5px;
}

/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ ТУРНИРЫ ★★★★ */

/*  ★★★★ ДОБАВЛЕНИЕ ЗАПИСИ ★★★★ */
.tourney_add input[name="name"] { width: 350px; }

/*  ★★★★ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ★★★★*/
.tourney_table img { height: 70px; }
.tourney_table input[name="name"] { width: 350px; }
.tourney_table input[type="file"] { display: none; }


/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ МАТЧИ ★★★★ */

/*  ★★★★ ДОБАВЛЕНИЕ ЗАПИСИ ★★★★ */
.meet_add input[name="name"],
.meet_add input[name="tourney"],
.meet_add select[name="team_1"],
.meet_add select[name="team_2"],
.meet_add input[name="city"],
.meet_add input[name="stadium"] 
{ 
    width: 100%;
}
.meet_add input[name="time_zone"]
{
    width: 50px; 
}

/*  ★★★★★★★★★★★★★★★★ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ★★★★*/

.matches_table .div_accordion {
    display: grid;
    grid-template-columns: 18% 60% 22%;
    grid-column-gap: 10px;
}
/* числовые поля */
.meet_table table { border-spacing: 5px; }
.meet_table input[name="time_zone"],
.meet_table input[name="goal_1"],
.meet_table input[name="goal_2"] 
{
    width: 50px; 
}
.meet_table input[name="name"] { width: 100%; }
.meet_table .meet input[type="file"] { display: none; }

.meet_table img { height: 70px; }

.meet_table .ui-accordion-header {
    font-size: 18px;
    font-weight: 700;    
}


/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ КОМАНДЫ ★★★★ */

/*  ★★★★ ДОБАВЛЕНИЕ ЗАПИСИ ★★★★ */
.team_add input[name="name"],
.team_add input[name="city"] {
    width: 100%;
}

/*  ★★★★ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ★★★★*/
.teams_table .team .logo { height: 70px; }

.teams_table img { width: 70px; }
.teams_table input[type="file"] { display: none; }

/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ ИГРОКИ ★★★★ */

/*  ★★★★ ДОБАВЛЕНИЕ ЗАПИСИ ★★★★ */

.player_add input[name="instagram"],
.player_add input[name="vc"],
.player_add select[name="country"],
.player_add select[name="position"],
.player_add input[name="name"],
.player_add input[name="lastname"],
.player_add select[name="team"]
{
    width: 100%;
}
/* числовые поля */
.player_add input[name="number"],
.player_add input[name="weight"],
.player_add input[name="growing"]
{
    width: 50px;
}

/*  ★★★★ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ★★★★*/

.count {
    text-align: end;  
}

.digit_only[name="growing"] 
{
    width: 40px; 
}
.player_table .player{
	border-bottom: 4px dashed #d88990;     
	margin: 10px 0;
}
.player_table select[name="team"] 
{ 
    width: 230px; 
}

.player_table input[name="name"] ,
.player_table input[name="lastname"]
{ 
    width: 100%; 
}

.player_table .photo
{ 
    width: 135px; 
}
.player_table input[type="file"] { display: none; }

/*  ★★★★★★★★★★★★★★★★★★★★★★★★ ТРЕНЕРСКИЙ СОСТАВ и АДМИНИСТРАЦИЯ ★★★★ */
/*  ★★★★ ДОБАВЛЕНИЕ ЗАПИСИ ★★★★ */

.trainer_add select[name="country"],
.trainer_add input[name="position"],
.trainer_add input[name="name"],
.trainer_add input[name="lastname"]
{
    width: 100%;
}
/*  ★★★★ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ★★★★*/
.trainer_table input[type="file"] { display: none; }
.trainer_table img { width: 135px; }

.trainer_table select[name="country"],
.trainer_table select[name="group"],
.trainer_table input[name="phone"],
.trainer_table input[name="contacts"],
.trainer_table input[name="position"]
{
    width: 100%;
}
.trainer_table input[name="email"]
{
    width: 220px; 
}

/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ СХЕМЫ ★★★★ */

.root_table {
    display: grid;
    grid-template-columns: 340px 420px 320px ;
}

.scheme {
    position: relative;
    display: grid;
    width: 405px;
    height: 524px;
    padding: 100px 0 15px;
    background-image: url(/wp-content/themes/fcakron/images/sheme_bg.png);
    box-sizing: border-box;
    border: 4px double black;
}
.scheme.s1 { /* 5/4/1 */
    grid-template: "i11 i11 i11 i11 i11" "i07 i08 spa i09 i10" "i02 i03 i04 i05 i06" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s2 { /* 5/3/2 */
    grid-template: "spc i10 spd i11 spe" "i07 spa i08 spb i09" "i02 i03 i04 i05 i06" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s5 { /* 4/5/1 */
    grid-template: "i11 i11 i11 i11 i11" "i06 i07 i08 i09 i10" "i02 i03 spa i04 i05" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s4 { /* 4/4/2 */
    grid-template: "spc i10 spd i11 spe" "i06 i07 spb i08 i09" "i02 i03 spa i04 i05" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s3 { /* 4/3/3 */
    grid-template: "i09 spd i10 spe i11" "i06 spb i07 spc i08" "i02 i03 spa i04 i05" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s6 { /* 3/5/2 */
    grid-template: "spc i10 spd i11 spe" "i05 i06 i07 i08 i09" "i02 spa i03 spb i04" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme.s7 { /* 3/4/3 */
    grid-template: "i09 spd i10 spe i11" "i05 i06 spc i07 i08" "i02 spa i03 spb i04" "i01 i01 i01 i01 i01" / 1fr 1fr 1fr 1fr 1fr;
}
.scheme .item{
	display: grid;
	justify-items: center;
    padding: 15px 0 0;
    font-size: 30px;
}

.scheme .item:nth-child(1){grid-area: i01;}
.scheme .item:nth-child(2){grid-area: i02;}
.scheme .item:nth-child(3){grid-area: i03;}
.scheme .item:nth-child(4){grid-area: i04;}
.scheme .item:nth-child(5){grid-area: i05;}
.scheme .item:nth-child(6){grid-area: i06;}
.scheme .item:nth-child(7){grid-area: i07;}
.scheme .item:nth-child(8){grid-area: i08;}
.scheme .item:nth-child(9){grid-area: i09;}
.scheme .item:nth-child(10){grid-area: i10;}
.scheme .item:nth-child(11){grid-area: i11;}



/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ СТАТИСТИКА ★★★★ */

.statistics_table .row {
    display: flex;
    align-items: center;
}
.btn_delete {
width: 26px;
height: 23px;
margin-right: 5px;
}

.statistics_table input[name=comment]
{
    width: 100%;
} 
.statistics_table .hide {
    display: none;
} 
.row select[name=player_2]{
    display: none;
}
/*  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ КАРЬЕРА ★★★★ */
.career_table .row {
    display: flex;
    align-items: top;
}
