 /*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰
    АДМИНКА - РЕДАКИРОВАНИЕ БАЗЫ ДАННЫХ
    ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.btn_add_rec {
    cursor: pointer;
}

/* числовые поля */
.digit_only 
{
    width: 30px;
    text-align-last: end;
}

.manual p{
    color: red;
    font-size: 18px;
    font-weight: 700;
}

input:required, select:required { border-color: red; }

.err {
    color: red;
    font-size: 1.2em;
    margin-top: 5px;
}


.hr_db {
    border: 0;
    height: 2px;
    background: green;
}

button.load_rec {
    margin-top: 5px;
}

/*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ ТУРНИРЫ ▰▰▰▰ */

/*  ▰▰▰▰ ДОБАВЛЕНИЕ ЗАПИСИ ▰▰▰▰ */
.tourney_add input[name="name"] { width: 350px; }

/*  ▰▰▰▰ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ▰▰▰▰*/
.tourney_table img { height: 70px; }
.tourney_table input[name="name"] { width: 350px; }
.tourney_table input[type="file"] { display: none; }


/*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ МАТЧИ ▰▰▰▰ */

/*  ▰▰▰▰ ДОБАВЛЕНИЕ ЗАПИСИ ▰▰▰▰ */
.meet_add input[name="name"],
.meet_add input[name="tourney"],
.meet_add select[name="team_1"],
.meet_add select[name="team_2"],
.meet_add input[name="city"],
.meet_add input[name="stadium"] 
{ 
    width: 100%;
}
.meet_add input[name="time_zone"]
{
    width: 50px; 
}

/*  ▰▰▰▰ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ▰▰▰▰*/
/* числовые поля */
.meet_table table { border-spacing: 5px; }
.meet_table input[name="time_zone"],
.meet_table input[name="goal_1"],
.meet_table input[name="goal_2"] 
{
    width: 50px; 
}
.meet_table input[name="name"] { width: 100%; }
.meet_table .meet input[type="file"] { display: none; }

.meet_table img { height: 70px; }

/*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ КОМАНДЫ ▰▰▰▰ */

/*  ▰▰▰▰ ДОБАВЛЕНИЕ ЗАПИСИ ▰▰▰▰ */
.team_add input[name="name"],
.team_add input[name="city"] {
    width: 100%;
}

/*  ▰▰▰▰ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ▰▰▰▰*/
.teams_table .team .logo { height: 70px; }

.teams_table img { width: 70px; }
.teams_table input[type="file"] { display: none; }

/*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ ИГРОКИ ▰▰▰▰ */

/*  ▰▰▰▰ ДОБАВЛЕНИЕ ЗАПИСИ ▰▰▰▰ */

.player_add input[name="instagram"],
.player_add input[name="vc"],
.player_add select[name="country"],
.player_add select[name="position"],
.player_add input[name="name"],
.player_add input[name="lastname"],
.player_add select[name="team"]
{
    width: 100%;
}
/* числовые поля */
.player_add input[name="number"],
.player_add input[name="weight"],
.player_add input[name="growing"]
{
    width: 50px;
}

/*  ▰▰▰▰ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ▰▰▰▰*/

.count {
    text-align: end;  
}

.digit_only[name="growing"] 
{
    width: 40px; 
}
.player_table select[name="team"] 
{ 
    width: 230px; 
}

.player_table input[name="name"] ,
.player_table input[name="lastname"]
{ 
    width: 100%; 
}

.player_table .photo
{ 
    width: 135px; 
}
.player_table input[type="file"] { display: none; }

/*  ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ ТРЕНЕРСКИЙ СОСТАВ ▰▰▰▰ */
/*  ▰▰▰▰ ДОБАВЛЕНИЕ ЗАПИСИ ▰▰▰▰ */

.trainer_add select[name="country"],
.trainer_add input[name="position"],
.trainer_add input[name="name"],
.trainer_add input[name="lastname"]
{
    width: 100%;
}
/*  ▰▰▰▰ РЕДАКТИРОВАНИЕ ТАБЛИЦЫ ▰▰▰▰*/
.trainer_table input[type="file"] { display: none; }
.trainer_table img { width: 135px; }
